<!DOCTYPE html>
<html>
<head>
  <title>Wind Power</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<section>
  <header class="topbar">
    <div class="button">
      <nav class="nav">
        <input type="checkbox" class="nav__cb" id="menu-cb"/>
        <div class="nav__content">
          <ul class="nav__items">
            <li class="nav__item">
              <a class="nav__item-text" href="/">
                Home
              </a>
            </li>
            <li class="nav__item">
              <a class="nav__item-text" href="/users/">
                Users
              </a>
            </li>
            <li class="nav__item">
              <a class="nav__item-text" href="#">
                Contact
              </a>
            </li>
          </ul>
        </div>
        <label class="nav__btn" for="menu-cb"></label>
      </nav>
    </div>
    <h1>Wind Power</h1>

  </header>
</section>
<body>

  <%= yield %>

</body>
</html>
